.button {
    margin:10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
.button:hover{
  border-radius: 10px;
  background-color: black;
  color:aliceblue;
  
}
  h2, h1{
    margin-left:15px;
    
  }